
<div class="modal fade" id="take-photo-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content module form-module">
      <div class="modal-body">
        <div ng-include="'templates/camera-test.html'"></div>
        <div class="modal-footer">
         <button type="button" class="btn btn-default btn-block btn-padding" data-dismiss="modal">
             Done
         </button>
        </div>
    </div>
  </div>
</div>
